# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
env/

#img
img/

# Data files
output/
output_with_exclude/
output_with_exclude_old/
output_with_Corrupt_Recalculated/
output_with_Corrupt_Origin/
output_with_Corrupt_Recalculated30/

# library directory 
lib/

# Environment variable files
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm project files
.idea/

# VS Code settings
.vscode/

# Logs
*.log

