body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    background-color: #1e1e1e; /* Dark background for body */
    color: #f0f0f0; /* Light text color */
}

.control-panel {
    position: absolute;
    top: 80px;
    left: 20px;
    background-color: #333333; /* Dark background for control panel */
    border: 1px solid #555555; /* Slightly lighter border */
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Darker shadow */
    z-index: 9999;
    width: 250px;
    transition: width 0.3s ease-in-out;
    border-radius: 8px;
    color: #f0f0f0; /* Light text color */
}

.burger-menu {
    position: absolute;
    top: 5%;
    right: 10%;
    transform: translate(50%, -50%);
    cursor: pointer;
    color: #f0f0f0; /* Light color for burger menu */
}

.content {
    display: block;
    visibility: visible;
    font-size: 16px;
    color: #f0f0f0; /* Ensure text in content is light */
}

.content-hidden {
    display: none;
    visibility: hidden;
    text-align: center;
    line-height: 1px;
    font-size: 24px;
    color: #f0f0f0; /* Light color for hidden content */
}

/* Loader styling */
#loader {
    position: absolute;
    left: -40px;
    z-index: 1;
    width: 20px;
    height: 20px;
    border: 16px solid #f0f0f0; /* Lighter border for loader */
    border-radius: 50%;
    border-top: 16px solid #3498db; /* Blue color for loader animation */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* assets/dark_theme.css */
/* body {
    background-color: #111111;
    color: #FFFFFF;
} */

h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
}

.graph-container {
    background-color: #222222;
    border-radius: 10px;
    padding: 10px;
}

.dash-spreadsheet {
    background-color: #333333;
    color: #FFFFFF;
}
